VITE_DOWNLOAD_MAC_UNIVERSAL=https://releases.octomus.dev/latest/Octomus-universal.dmg
VITE_DOWNLOAD_LINUX_DEB_X64=https://releases.octomus.dev/latest/octomus_amd64.deb
VITE_DOWNLOAD_LINUX_DEB_ARM64=https://releases.octomus.dev/latest/octomus_arm64.deb
VITE_DOWNLOAD_LINUX_RPM_X64=https://releases.octomus.dev/latest/octomus_x86_64.rpm
VITE_DOWNLOAD_LINUX_RPM_ARM64=https://releases.octomus.dev/latest/octomus_aarch64.rpm
VITE_DOWNLOAD_LINUX_TAR_X64=https://releases.octomus.dev/latest/octomus_x86_64.tar.zst
VITE_DOWNLOAD_LINUX_TAR_ARM64=https://releases.octomus.dev/latest/octomus_aarch64.tar.zst
VITE_DOWNLOAD_LINUX_APPIMAGE_X64=https://releases.octomus.dev/latest/Octomus-x86_64.AppImage
VITE_DOWNLOAD_LINUX_APPIMAGE_ARM64=https://releases.octomus.dev/latest/Octomus-aarch64.AppImage
VITE_DOWNLOAD_WINDOWS_X64=https://releases.octomus.dev/latest/Octomus-Setup-x64.exe
VITE_DOWNLOAD_WINDOWS_ARM64=https://releases.octomus.dev/latest/Octomus-Setup-arm64.exe
